.header {
    &__title {
        color: $color-primary;
        font-size: 2.5em;
        text-align: center;
        text-shadow: rgba(255, 255, 255, 0.7) 2px 2px;
    }

    &__subtitle {
        color: $color-primary;
        font-size: 2em;
        text-align: center;
        text-shadow: rgba(255, 255, 255, 0.7) 2px 2px;
    }
}
