.navbar-default {
    background-color: $color-background;
    border: none;
    margin-bottom: 0;

    & .navbar-toggle {
        border: 0;
        
        & .icon-bar {
            background-color: $color-primary;
        }
    }

    & a {
        color: $color-font !important;
        font-family: 'Indie Flower', cursive;
        font-size: 1.1em;

        &:hover {
            transition: color 0.5s ease;
            color: $color-primary-accent !important;
        }
    }
}