nav {
    background-color: rgba(255,255,255,0.9);

    ul {
        list-style: none;
        padding-top: 1em;
        padding-bottom: 1em;
        margin: 0;
        margin-bottom: 1em;
        text-align: center;
        
        li {
            display: inline-block;
            margin-left: 1em;
            margin-right: 1em;

            a {
                color: $color-accent;
                font-weight: bold;
                text-decoration: none;
                
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}