.tiles {
    &__horizontal {
        margin-top: 5em;
    }

    @media (max-width: $screen-md-min) {
        margin-top: 0;
    }

    a {
        @extend .hvr-grow-rotate;
        cursor: pointer;
    }
}
