@import "vars";
@import "fonts";
@import "bootstrap-custom";
@import "nav";
@import "header";


html {
    color: $color-font;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: $color-background;
}

h1, h2, h3, h4, h5 {
    font-family: 'Indie Flower', cursive;
}

.img-center {
    margin-left: auto;
    margin-right: auto;
}