html {
    min-height: 100%;
    min-width: 100%;
}

body {
    background-color: #d3d3d3;
    background-image: url('../images/vintage-wood-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}