@import "vars";
@import "fonts";
@import "bootstrap-custom";
@import "animations";
@import "nav";
@import "header";
@import "tiles";
@import "rsvp";

html {
    color: $color-font;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: $color-background;
    padding-bottom: 2em;
}

h1, h2, h3, h4, h5 {
    font-family: 'Indie Flower', cursive;
}

a {
    color: $color-primary-accent;
    cursor: pointer;
    text-decoration: none;

    &:hover, &:focus {
        color: $color-primary-accent;
    }
}

img {
    border-radius: 2px;
}

input, textarea {
    font-size: 16px !important; // This stops iOS doing that horrible auto zoom on focus

    &:focus {
        font-size: 16px;
    }
}

input[type=checkbox] {
    height: 1.2em;
}

.img-center {
    margin-left: auto;
    margin-right: auto;
}

.spacer {
    &__bottom-1 {
        margin-bottom: 1em;
    }

    &__bottom-2 {
        margin-bottom: 2em;
    }

    &__top-2 {
        margin-top: 2em;
    }
}